* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 20px 30px;
}
body {
  line-height: 1.6;
  font-family: sans-serif;
  color: #333;
  background: #eee;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 900px;
  height: 100vh;
  margin: 100px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul,
.nav-list {
  list-style: none;
}
.nav-list {
  display: flex;
  gap: 1rem;
}
.nav-list li {
  padding: 10px 18px;
}

.border {
  border: 1px solid #333;
  border-radius: 7px;
}
.boxes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.pos {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 0.77rem;
}
.center {
  text-align: center;
  justify-content: center;
}
.circle {
  border: 2px solid #1179c0;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  padding: 30px;
  background-color: #ffff;
}

.first-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}
input,
button {
  padding: 14px;
  width: 100%;
  background: #edeff2;
  border: none;
  border-radius: 3px;
}
button {
  background-color: #048e7d;
  margin-top: 30px;
}
.form-group.email {
  width: 80%;
}

.card {
  position: relative;
}
.card::after {
  content: "MM/YY CV";
  position: absolute;
  color: #666;
  top: 49px;
  left: 86%;
}
/* RIGH GRID */

.right {
  background: #1179c0;
  padding: 40px 60px;
  color: #fff;
}
.flex {
  position: relative;
}

.flex::before {
  content: "$";
  position: absolute;
  top: 60px;
  left: -16px;
  font-size: 20px;
}
.figure {
  font-size: 60px;
}
.underline {
  border-bottom: 1px solid #fff;
}
.cta {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
.what-we-do {
  padding-top: 30px;
}
.right a {
  color: inherit;
}
.person {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.person img {
  border-radius: 1000px;
}
.person p {
  font-weight: bold;
}
.flex {
  padding: 30px 0;
  line-height: 1;
}
.price {
  padding: 0;
}
footer {
  padding-top: 30px;
}
.price-lists {
  display: flex;
  flex-direction: column;
  align-items: center5;
}
